@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";


// font-family: 'Alegreya Sans', sans-serif;
// font-family: 'Inter', sans-serif;
// font-family: 'Nunito', sans-serif;


body {
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background-color: var(--body-bg);
  font-family: 'Nunito', sans-serif;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }

    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

.blue-border {
  border: 1px solid #56C7FB;
}

.fancy-hover:hover {
  color: #79E7AB;
  cursor: pointer;

}

.bottom-border-hover:hover {
  border-bottom: 7px solid #79E7AB;
}

.tower-box-shadow {
  box-shadow: 3px 3px 6px #171920;
}